* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  position: relative;
}

button {
  background-color: rgb(108, 238, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
}

button:hover {
  background-color: rgb(47, 231, 255);
  cursor: pointer;
}

ul {
  position: absolute;
  left: -25%;
  background-color: rgb(189, 188, 188);
  width: 160px;
  list-style: none;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: 0.25s;
}

.dropdown-menu:hover ul {
  max-height: 500px;
  transition: 0.25s;
  cursor: pointer;
}

li {
  padding: 16px;
}

ul li:hover {
  background-color:rgb(228, 228, 228)
}
